@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
	main > footer {
		@apply sticky;
		@apply top-[100vh];
	}
}

@layer components {
	html,
	body {
		@apply h-full;
	}
}

@layer components {
	#__next {
		@apply h-full;
	}
}

#nprogress {
	pointer-events: none;
}

#nprogress .bar {
	background: #ff0000 !important;
}

#nprogress .peg {
	box-shadow: 0 0 10px #ff0000, 0 0 5px #ff0000;
}

#nprogress .spinner-icon {
	border-top-color: #ff0000;
	border-left-color: #ff0000;
}
